* {
    margin: 0 auto;
    padding: 0;
}

/*Here starts the header*/

header {
    border-bottom: 1px solid #E1E1E1;
}

.container-fluid {

}

.logo {
    margin: 0;
}

.logo-text {
    font-size: 33px;
    color: #000000;
    opacity: 1;
    font: Normal SosNof_U;;
}

.logo-smalltext {
    margin-left: 55px;
    font-size: 11px;
    font: Regular Droid Sans;
    letter-spacing: 0;
    color: #7A7A7A;
    opacity: 1;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: .5rem;
}

.nav-link {
    font-size: 16px;
    font: Regular Droid Sans;
    letter-spacing: 0.96px;
    color: #505050;
    opacity: 1;
}

.nav-content li:hover::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    color: #BDD531;
    position: absolute;
}

.sign-up-first:hover {
    background: #02BFDB;
    cursor: pointer;
}

.sign-up-second:hover {
    background: #BDD531;
    cursor: pointer;
}

/*Here ends the header*/

/*Here starts the main contents pane*/
.top {
    min-height: 90vh;
    width: 100%;
    position: relative;
    background: url("img/graffiti-508272_1920.jpg") no-repeat;
    background-position: right;
}

.backgorund-img1 img {
    width: 70%;
}

.backgorund-img1 {
    position: absolute;
    top: 69px;
    width: 94%;
    transform: skew(20deg, 0deg);
}

.features-courses {
    background: url("img/background3.PNG") no-repeat;
    background-position: right;
}

.courses-title {
    font-size: 50px;
    font: Bold Droid Sans;
    letter-spacing: 1.5px;
    color: #292929;
    opacity: 1;
}

.courses-text {
    width: 60%;
    margin: 0;
    font-size: 16px;
    font: Regular Droid Sans;
    letter-spacing: 0.48px;
    color: #292929;
    opacity: 1;
}

.card {
    border-radius: 6px;
}

.courses-btn {
    font-size: 16px;
    background: #BDD531;
    border-radius: 6px;
    padding: 5px 30px;
    color: #292929;
}

.courses-btn2 {
    font-size: 16px;
    border: 1px solid #BDD531;
    border-radius: 6px;
    padding: 5px 30px;
    background: white;
    color: #292929;
}

.courses-btn2:hover {
    background: #BDD531;

}

.btn-floating {
    color: #BDD531;
    position: absolute;
    bottom: -40px;
    font-size: 14px;
    right: 55px;
    border: 1px solid #BDD531;
    padding: 1px 4px;
}

.btn-floating:hover {
    color: white;
    background: #BDD531;
}

.btn-floating2 {
    color: #BDD531;
    position: absolute;
    bottom: -40px;
    font-size: 14px;
    right: 25px;
    border: 1px solid #BDD531;
    padding: 1px 4px;
}

.btn-floating2:hover {
    color: white;
    background: #BDD531;
}

.card-desk {
    position: relative;
}

.courses-carousel {
    margin: 50px 0px;
}

.articles {
    margin-top: 50px;
    padding-bottom: 25px;
    background: #FAFAFA;
    position: relative;
}

.courses-text2 {
    width: 80%;
    margin: 0;
    font-size: 16px;
    font: Regular Droid Sans;
    letter-spacing: 0.48px;
    color: #292929;
    opacity: 1;
}

.img-deer {
    width: 220px;
    height: 220px;
    position: absolute;
    bottom: -40px;
    right: 350px;
}

.img-deer img {
    width: 100%;
}

.img-brush {
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: 0px;
    right: 150px;
}

.img-brush img {
    width: 100%;
}












































