* {
    margin: 0 auto;
    padding: 0;
}
 /*Here starts the header*/

header {
    border-bottom: 1px solid #E1E1E1;
}
.header-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    /*padding: 20px 0;*/
    align-items: center;

}
.logo {
  margin: 0;
}
.logo-text {
    font-size: 33px;
    color: #000000;
    opacity: 1;
    font: Normal SosNof_U;;
}
.logo-smalltext {
    margin-left: 55px;
    font-size: 11px;
    font: Regular Droid Sans;
    letter-spacing: 0;
    color: #7A7A7A;
    opacity: 1;
}
.nav {
    width: 60%;
    max-width: 700px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.nav-content {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 65%;
    text-align: left;
    font: Regular Droid Sans;
    font-size: 16px;
    letter-spacing: 0.96px;
    color: #505050;
    opacity: 1;
    margin: 0;
    position: relative;
}
.nav-content li {
    padding: 25px 0px;
}
.nav-content li:hover::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    color: #BDD531;
    position: absolute;
}
.sign-up {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 30%;
    text-align: left;
    font: Regular Droid Sans;
    font-size: 16px;
    letter-spacing: 0.96px;
    color: #505050;
    opacity: 1;
    margin: 0;
}
.sign-up li {
    padding: 25px 15px;
    margin: 0;
}
.sign-up-first:hover {
    background: #02BFDB;
    cursor: pointer;
}
.sign-up-second:hover {
    background: #BDD531;
    cursor: pointer;
}
/*Here ends the header*/

/*Here starts the main contents pane*/

.features-courses {
    min-height: 80vh;
    background: #7A7A7A;
    padding-top: 30px;
    width: 80%;
}
.featured-title {
    font-size: 50px;
    font: Bold  Droid Sans;
    letter-spacing: 1.5px;
    color: #292929;
    opacity: 1;
}






















































