@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-BlackItalic.eot');
    src: url('PlayfairDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('PlayfairDisplay-BlackItalic.woff2') format('woff2'),
    url('PlayfairDisplay-BlackItalic.woff') format('woff'),
    url('PlayfairDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('DroidSans.eot');
    src: url('DroidSans.eot?#iefix') format('embedded-opentype'),
    url('DroidSans.woff2') format('woff2'),
    url('DroidSans.woff') format('woff'),
    url('DroidSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('DroidSans-Bold.eot');
    src: url('DroidSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('DroidSans-Bold.woff2') format('woff2'),
    url('DroidSans-Bold.woff') format('woff'),
    url('DroidSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-BoldItalic.eot');
    src: url('Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('Raleway-BoldItalic.woff2') format('woff2'),
    url('Raleway-BoldItalic.woff') format('woff'),
    url('Raleway-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 0 auto;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

/*Here starts the header*/

header {
    border-bottom: 1px solid #E1E1E1;
}

.container-fluid {

}

.logo {
    margin: 0;
}

.logo-text {
    font-size: 33px;
    color: #000000;
    opacity: 1;
    font-family: 'Playfair Display', italic;
    font-weight: 900;
}

.logo-smalltext {
    margin-left: 55px;
    font-size: 11px;
    font-family: 'Droid Sans', sans-serif;
    color: #7A7A7A;
    opacity: 1;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: .5rem;
}

.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #BDD531;
    opacity: 0;
    transition: opacity 0.3s;
}

.navbar {
    height: 85%;
}

.nav-link {
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 0.96px;
    color: #505050;
    opacity: 1;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 38px;
    left: 11%;
    width: 60%;
    height: 2px;
    background: #BDD531;
    opacity: 0;
    transition: all 0.5s;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-content li:hover::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    color: #BDD531;
    position: absolute;
}


.sign-up-first:hover {
    background: #02BFDB;
    cursor: pointer;
}

.sign-up-first:hover::after {
    opacity: 0;
}

.sign-up-second:hover {
    background: #BDD531;
    cursor: pointer;
}

.sign-up-second:hover::after {
    opacity: 0;
}

/*Here ends the header*/

/*Here starts the main contents pane*/
.top {
    width: 100%;
    position: relative;
}

.background-col {
    display: flex;
    justify-content: flex-start;
}

.background-img img {
    width: 102%;
    transform: skewX(-11deg) translate(40px, 0px);
    opacity: 0.3;
}

.background-img {
    width: 63%;
    overflow: hidden;
    transform: skew(14deg, 0deg);
    position: absolute;
    top: 0;
    left: -73px;
    background: white;
}

.background-img2 img {
    width: 100%;
    overflow: hidden;
}

.background-img2 {
    width: 64%;
    margin-right: 0;
    overflow: hidden;
}

.started {
    position: absolute;
    top: 200px;
    right: 400px;
}

.start {
    width: 60%;
    font-size: 60px;
    font-weight: bold;
    font-family: "Droid Sans", sans-serif;
    letter-spacing: 0;
    color: #000000;
    text-shadow: 0 3px 6px #00000036;
}

.start-buttons {
    margin-top: 50px;
    width: 60%;
}

.a-second {
    font-size: 16px;
    border: 1px solid #BDD531;
    border-radius: 6px;
    padding: 5px 30px;
    background: transparent;
    color: #292929;
    transition: all 0.5s;
    text-decoration: none;
    margin-right: 15px;
}

.a-second:hover {
    text-decoration: none;
    color: #292929;
    background: #BDD531;
    cursor: pointer;
}

.a-first {
    font-size: 16px;
    border: 1px solid #BDD531;
    border-radius: 6px;
    padding: 5px 30px;
    background: #BDD531;
    color: #292929;
    transition: all 0.5s;
    text-decoration: none;
    margin-right: 15px;
}

.a-first:hover {
    text-decoration: none;
    color: #292929;
    cursor: pointer;
}

.features-courses {
    background: url("img/background3.PNG") no-repeat;
    background-position: right;
}

.courses-title {
    font-size: 50px;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #292929;
    opacity: 1;
}

.courses-text {
    width: 60%;
    margin: 0;
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 0.48px;
    color: #292929;
    opacity: 1;
}

.card {
    border-radius: 6px;
}

.courses-buttons {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    flex-wrap: wrap;
}

.courses-buttons div {
    margin: 0;
}

.courses-btn {
    font-size: 16px;
    border: 1px solid #BDD531;
    border-radius: 6px;
    padding: 5px 30px;
    background: #BDD531;
    color: #292929;
    margin-right: 15px;
}

.courses-btn:hover {
    text-decoration: none;
    color: #292929;
}

.courses-button {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-left: 0;
    margin-bottom: 50px;
}

.courses-button div {
    margin: 0;
}

.courses-btn2 {
    font-size: 16px;
    border: 1px solid #BDD531;
    border-radius: 6px;
    padding: 5px 30px;
    background: white;
    color: #292929;
    transition: all 0.5s;
}

.courses-btn2:hover {
    text-decoration: none;
    color: #292929;
}

.courses-btn2:hover {
    background: #BDD531;

}

.btn-floating {
    color: #BDD531;
    position: absolute;
    bottom: -40px;
    font-size: 14px;
    right: 40px;
    border: 1px solid #BDD531;
    padding: 1px 4px;
    transition: all 0.5s;
}

.btn-floating:hover {
    color: white;
    background: #BDD531;
}

.btn-floating2 {
    color: #BDD531;
    position: absolute;
    bottom: -40px;
    font-size: 14px;
    right: 4px;
    border: 1px solid #BDD531;
    padding: 1px 4px;
    transition: all 0.5s;
}

.btn-floating2:hover {
    color: white;
    background: #BDD531;
}

.card-desk {
    position: relative;
}

.courses-carousel {
    margin: 50px 0;
}

.carousel-col {
    margin-left: 35px;
}

.line {
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
    color: #8B8B8B;
    text-decoration: line-through;
}

.dollar {
    font-size: 28px;
    text-align: left;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.84px;
    color: #D35135;
}

.img {
    border-radius: 100%;
    overflow: hidden;
    width: 70px;
    height: 70px;
    margin: 5px auto;
    border: 4px solid white;
}

.img img {
    width: 100%;
}

.articles-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}

.articles {
    width: 50%;
    min-width: 570px;
}

.articles-img {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    width: 50%;
    min-width: 570px;
}

.articles-text {
    width: 70%;
}

.deer-img img {
    width: 100%;
}

.deer-img {
    width: 240px;
    height: 200px;
    margin-right: 10px;
    margin-left: 20px;
    position: relative;
}

.deer-title {
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.54px;
    color: #292929;
    margin-left: 15px;
    width: 58%;
}

.deer-text {
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 0.48px;
    color: #292929;
    margin-left: 15px;
    width: 80%;
}

.deer {
    margin-left: 15px;
    width: 80%;
}


.brush-img img {
    width: 100%;
}

.brush-img {
    width: 200px;
    height: 150px;
    margin-left: 0;
    position: relative;
}

.brush-title {
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.54px;
    color: #292929;
    margin-left: 0;
    width: 62%;
}

.brush-text {
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 0.48px;
    color: #292929;
    margin-left: 0;
    width: 90%;
}

.imgs-set {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    width: 90%;
}

.body-img img {
    width: 100%;
    display: block;
}

.body-img {
    margin-left: 0;
    width: 200px;
    height: 285px;
    position: relative;
    backface-visibility: hidden;
    transition: all 0.8s;
}

.body2-img img {
    width: 100%;
    display: block;
}

.body2-img {
    width: 305px;
    height: 285px;
    position: relative;
    backface-visibility: hidden;
    transition: all 0.8s;
}

.read-more {
    color: #fff;
    padding-top: 235px;
    background-color: #BDD531;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 93%;
    width: 65%;
    backface-visibility: hidden;
    transition: all 0.8s
}

.read-more-body2 {
    color: #fff;
    background-color: #BDD531;
    padding-top: 235px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: -1px;
    height: 94%;
    width: 50%;
    backface-visibility: hidden;
    transition: all 1s;
}

.read-more-deer {
    color: #fff;
    background-color: #BDD531;
    opacity: 0;
    position: absolute;
    top: 0;
    right: -1px;
    height: 80%;
    width: 65%;
    backface-visibility: hidden;
    transition: all 1s;
    padding: 20px 5px;
}

.read-more-brush {
    color: #fff;
    background-color: #BDD531;
    opacity: 0;
    position: absolute;
    top: 0;
    right: -1px;
    height: 89%;
    width: 65%;
    backface-visibility: hidden;
    transition: all 1s;
    padding: 20px 5px;
}

.read-more a {
    color: white;
}

.read-more-body2 a {
    color: white;
}

.read-more-brush a {
    color: white;
}

.read-more-deer a {
    color: white;
}

.body-img:hover .read-more {
    right: 35%;
    opacity: 0.5;
    cursor: pointer;
}

.body2-img:hover .read-more-body2 {
    right: 1px;
    opacity: 0.5;
    cursor: pointer;
}

.brush-img:hover .read-more-brush {
    right: 35%;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.8s;
}

.deer-img:hover .read-more-deer {
    right: 35%;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.8s;
}


.body-title {
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.54px;
    color: #292929;
    margin-left: 0;
    width: 62%;
}

.body-text {
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 0.48px;
    color: #292929;
    margin-left: 0;
    width: 90%;
}

.body2-title {
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.54px;
    color: #292929;
    margin-left: 0;
    width: 62%;
}

.body2-text {
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 0.48px;
    color: #292929;
    margin-left: 0;
    width: 90%;
}

.questions {
    min-height: 80vh;
    margin: 80px 0;
    background: url("img/Clone.jpg") no-repeat right;
}

.fa-plus {
    color: #BDD531;
}

.plus {
    width: 4%;
    border: 1px solid #BDD531;
    padding: 8px 5px;
    margin-bottom: 6px;
}

.questions-title {
    text-align: center;
    margin: 50px 0;
    font-size: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #292929;
}

.questions-string {
    display: flex;
    vertical-align: middle;
    margin-bottom: 10px;
    width: 45%;
    border-bottom: 1px solid #C5C5C5;
}

.all-students {
    display: flex;
}

.students {
    position: relative;
    margin-bottom: 280px;
}

.students-set2 {
    margin-top: 160px;
    min-width: 450px;
}

.students-set1 {
    min-width: 450px;
}

.students-title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #292929;
}

.student-img {
    height: 95px;
    width: 390px;
    overflow: hidden;
    margin: 0 10px;
}

.student-img img {
    height: 100%;
}

.student-img3 {
    height: 95px;
    width: 375px;
    overflow: hidden;
    margin: 0 10px;
}

.student-img3 img {
    height: 100%;
}

.student1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 10px;
    position: relative;
}

.student1::after {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 64px;
    top: 60px;
    background-color: white;
    border: 1px solid #E4E4E4;
}

.student1::before {
    content: "";
    position: absolute;
    right: 71px;
    top: 60px;
    width: 1px;
    bottom: -10px;
    background: #eee;
}

.student2 {
    position: relative;
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.student2::after {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 54px;
    top: -61px;
    background-color: white;
    border: 1px solid #E4E4E4;
}

.student2::before {
    content: "";
    position: absolute;
    right: 61px;
    top: -60px;
    width: 1px;
    bottom: 42px;
    background: #eee;
}

.student3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.student3::after {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 725px;
    top: 173px;
    background-color: white;
    border: 1px solid #E4E4E4;
}

.student4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.student4::after {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 725px;
    top: 138px;
    background-color: white;
    border: 1px solid #E4E4E4;
}

.student4::before {
    content: "";
    position: absolute;
    right: 731px;
    top: -15px;
    width: 1px;
    bottom: 15px;
    background: #eee;
}


.student-title {
    font-size: 25px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.75px;
    color: #000000;
}

.student-profession {
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 0.48px;
    color: #000000;
}

.student-text {
    margin: 0;
    font-size: 13px;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 0.48px;
    color: #000000;
    width: 80%;
}

.about {
    padding-top: 40px;
    min-height: 60vh;
    background: #333333;
}

.learning-title {
    margin-bottom: 0;
    text-align: center;
    font-size: 33px;
    letter-spacing: 1.98px;
    color: #FFFFFF;
}

.learning-text {
    text-align: center;
    font-size: 11px;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
}

.menulist {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 35%;
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 0.96px;
    color: #FFFFFF;
}

.menulist a {
    color: #FFFFFF;
}

.menulist a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.join {
    margin-top: 50px;
    font-size: 16px;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 0.96px;
    color: #FFFFFF;
    position: relative;
}

.join::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: -25px;
    left: 47%;
    width: 6%;
    height: 1px;
    background: white;
}

.social-media {
    margin-bottom: 50px;
}

.media {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 17%;
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 0.96px;
    color: #FFFFFF;
}

.icon li {
    color: white;
}

.fa-facebook-f {
    padding: 5px 11px;
    border: 1px solid #292929;
    background: #292929;
    transition: all 0.5s;
    border-radius: 3px;
}

.fa-twitter {
    padding: 5px 7px;
    border: 1px solid #292929;
    background: #292929;
    transition: all 0.5s;
    border-radius: 3px;
}

.fa-google-plus-g {
    padding: 5px 6px;
    border: 1px solid #292929;
    background: #292929;
    transition: all 0.5s;
    border-radius: 3px;
}

.fa-pinterest-p {
    padding: 5px 9px;
    border: 1px solid #292929;
    background: #292929;
    transition: all 0.5s;
    border-radius: 3px;
}

.fa-instagram {
    padding: 5px 9px;
    border: 1px solid #292929;
    background: #292929;
    transition: all 0.5s;
    border-radius: 3px;
}

.fa-linkedin-in {
    padding: 5px 9px;
    border: 1px solid #292929;
    background: #292929;
    transition: all 0.5s;
    border-radius: 3px;
}

.icon i:hover {
    border: 1px solid #BDD531;
    background: #BDD531;
    cursor: pointer;
}

/*Main of rec-courses*/
.recomended-title {
    font-weight: bold;
    font-family: "Droid Sans", sans-serif;
    font-size: 40px;
    margin-left: 65px;
    margin-top: 50px;
    letter-spacing: 1.2px;
    color: #292929;
}

.rec-img img {
    width: 100%;
}

.rec-img {
    width: 660px;
    height: 200px;
    margin-left: 65px;
}

.recommended {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.rec-about {
    width: 80%;
}

.rec-title {
    font-size: 18px;
    font-weight: bold;
    font-family: "Droid Sans", sans-serif;
    letter-spacing: 0.54px;
    color: #292929;
    width: 70%;
    margin-left: 35px;
}

.rec-stars {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin-left: 30px;
    margin-top: 10px;
}

.rec-star-img img {
    width: 100%;
}

.rec-star-img {
    height: 35px;
    width: 75px;
}

.rec-text {
    font-size: 15px;
    font-family: "Droid Sans", sans-serif;
    color: #292929;
    width: 70%;
    margin-left: 35px;
}

.rec-price {
    display: flex;
    width: 15%;
    justify-content: center;
}

.rec-btn {
    font-size: 16px;
    border: 1px solid #BDD531;
    border-radius: 6px;
    padding: 6px 30px;
    background: #BDD531;
    color: #292929;
    width: 22%;
    margin-left: 0;
}

.rec-btn a {
    color: #292929;
}

.rec-btn a:hover {
    text-decoration: none;
    color: #292929;
}

.rec-button {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 35px;
    width: 85%;
}

.prev-dollar {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    text-decoration: line-through;
    letter-spacing: 0.72px;
    color: #8B8B8B;
}

.courses-quantity {
    width: 90%;
    text-align: right;
    font-size: 22px;
    font-family: "Droid Sans", sans-serif;
    letter-spacing: 0.66px;
    color: #8B8B8B;
}

.carousel-col2 {
    margin-left: 5px;
}

.carousels-set {
    margin-bottom: 20px;
}

.courses-big-title {
    font-size: 40px;
    font-weight: bold;
    font-family: "Droid Sans", sans-serif;
    letter-spacing: 1.2px;
    color: #292929;
    margin-left: 40px;
    margin-top: 40px;
}

.text {
    font-size: 16px;
    font-family: "Droid Sans", sans-serif;
    letter-spacing: 0.48px;
    color: #292929;
    margin-left: 40px;
    width: 53%;
}

/*Here ends the main contents pane*/

/*Here starts the footer*/
.footer {
    background: #292929;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    color: white;
}

.copyright a {
    color: #C59A0B;
}

/*Here ends the footer*/
















